h2{
            color: rgb(42, 142, 165);
            text-align: center;
            text-decoration: underline;
            margin-top: 40px;
            font-family: 'times new roman', Times, serif;
        }
        h1{
            padding: 20px;
        }
        p{
            color:rgb(160, 95, 118)
           
         
        }